<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>Олимпиады и конкурсы Санкт-Петербурга</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic'  rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="http://esir.gov.spb.ru/static/widget/js/widget.js"></script>
    <%= csrf_meta_tags %>

  </head>
  <body>

    <header class='home'>
      <%=render 'shared/menu'%>
    </header>

    <%=render 'shared/flashes'%>

    <%= yield %>

    <%=render 'shared/footer'%>

    <%=render 'shared/login_popup'%>

  </body>
</html>
